/* Filter section */

/* Search Result */

.search-Grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  font-family: "Questrial", sans-serif;
  position: relative;
}

.search-Grid figure {
  position: relative;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.555),
      black
    ),
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.265) 30%, black);
}

.search-Grid figcaption {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.search-Grid figure img {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  z-index: -1;
  position: relative;
}

.filter {
  padding: 0 1rem;
}

/* Tablet Screen */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .search-Grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    font-family: "Questrial", sans-serif;
  }

  .search-Grid figure img {
    object-fit: cover;
    background-size: cover;
    width: 100%;
  }

  .filter {
    padding: 0 2.6rem;
  }
}

/* Large Screen */

@media screen and (min-device-width: 1024px) {
  .search-Grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    font-family: "Questrial", sans-serif;
  }

  .search-Grid figure img {
    object-fit: cover;
    background-size: cover;
    width: 100%;
  }

  .filter {
    padding: 0 3rem;
  }
}
